*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none}
a{background-color:transparent;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:active{outline:0}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
address,cite,dfn,em,i,var{font-style:normal}
strong{font-weight:normal}
ul,ol{list-style:none}
html{font-size:100px}
@media screen and (min-width:375px){
	html{font-size:100px;font-size:26.66666667vw}
}
body{font-family:"Microsoft Yahei",Helvetica,Arial,sans-serif;font-size:.14rem;line-height:1;color:#f4c69f; position:relative; background:url('../img/TB25OzGboWO.eBjSZPcXXbopVXa_!!2220771977.png') center top no-repeat; background-size:100%; background-color:#d13024}
a{color:#333;text-decoration:none}
a:focus,a:visited,a:active{color:#333;text-decoration:none}
.clearfix:before,.clearfix:after{content:" ";display:table; clear:both}
header, footer{width:100%; color:#fff; position:fixed;}
header a, footer a{color:#fff;}
header a:focus, header a:visited,header a:active, footer a:focus, footer a:visited,footer a:active{color:#fff;}
header{height:.3rem; line-height:.3rem; top:.3rem;}
header a{float:right; padding-right:.1rem}
header span{padding-left:.1rem}
footer{background-color:#930000; height:.44rem; line-height:.44rem; bottom:0; z-index:9999999999;}
footer a{display:inline-block; width:20%; height:100%; text-align:center; float:left;}
footer .tab1{background:url('../img/TB24CzXaY1J.eBjy1zeXXX9kVXa_!!2220771977.png');background-size:cover;}
footer .tab2{background:url('../img/TB2XSDXaY1J.eBjy1zeXXX9kVXa_!!2220771977.png');background-size:cover;}
footer .tab3{background:url('../img/TB2Ho19a31I.eBjSszeXXc2hpXa_!!2220771977.png');background-size:cover;}
footer .tab4{background:url('../img/TB2CKPfaZaK.eBjSspjXXXL.XXa_!!2220771977.png');background-size:cover;}
footer .tab5{background:url('../img/TB2G9jma89J.eBjy0FoXXXyvpXa_!!2220771977.png');background-size:cover;}

/*scroll ann*/
#FontScroll{width:100%;height:.3rem;line-height:.3rem; color:#fff;overflow:hidden; position:fixed; z-index:9999; top:0; left:0; right:0; background-color:rgba(0,0,0,.5); color:#FFC; font-size:.1rem}
#FontScroll .line{text-align:center;width:100%;}
#FontScroll span {color: #F00;border: 1px solid #F00;padding:.01rem .04rem;border-radius:.05rem;margin-right:.03rem}

/*gonggao*/
.gonggao{width:100%; color:#fff; background-color:#930; opacity:.8; height:.36rem; line-height:.36rem; overflow:hidden}
.gonggao em{display:inline-block; position:absolute; left:.1rem; top:0}
.gonggao #scrollText{margin:0 .54rem;}

.layui-m-layercont{height:100%}
.layui-m-layer-wanfa{background:url(wanfabg.png) no-repeat  center top;background-size:100%;width:90%;height:4.2rem;border-radius:.04rem;color:#fff;}
.wanfabtn{height:33%;margin:0;position:relative;}
.agree{bottom:0;right:0.1rem;position:absolute;color:#fff;text-decoration:underline;}
.layui-m-layer-payok{background:#e1544a url(payok.png) no-repeat center top;background-size:100%;}
.layui-m-layer-payok a{display:block;width:100%;height:100%;}
.layui-m-layer-redresult{background:url(redresult.png) no-repeat center top;background-size:100%;color:#fff;padding-bottom:5px;border-radius:.04rem;}
.layui-m-layer-redresult b{color:#ffe763;}
.layui-m-layer-redresult .layui-m-layerbtn{border:none;width:60%;text-align:center;border-radius:.04rem;margin:0 auto;background:#d4382c;}
.layui-m-layer-redresult .layui-m-layerbtn span[yes]{color:#fff;}
.layui-m-layer-redresult .layui-m-layercont{color:#fff;padding:0;height:140px;padding-top:30px;}
.topjubao{color:#fff;position:absolute;right:0;top:45px;display:block;background:url(../img/jubao.png) no-repeat;background-size:contain;padding-left:20px;line-height:0.15rem}
.index .pricebtn a{width:20%;background:#d13024;color:#fff;border-radius:.04rem;display:inline-block;border:#fff solid 1px;margin-top:0px;margin-left:5px;height:0.3rem;line-height:0.3rem;font-size:0.15rem}
.index .pricebtn a.sel{background:#ffd75b;color:#d13024;border:#ffd75b solid 1px;}

/*index*/
.index{width:90%; margin:1.5rem auto .8rem auto; text-align:center;}
.index *{display:block;}
.index h1{color:#ffffff; font-size:.23rem;}
.index p{font-size:.15rem; margin-top:.1rem}
.index img{margin:.1rem auto;}
.index a{width:100%; height:.5rem; line-height:.5rem; background:#c81722; border-radius:.05rem; margin-top:.2rem; color:#FFC; font-size:.21rem}
.index a.disable{background-color:#ccc; color:#888;}

/*share*/
.share{text-align:center}
.share-qrcode{mini-height:1.6rem; width:100%; text-align:center;}
.share-qrcode img{width:100%;}
.share p{font-size:.16rem; margin-top:.1rem}
.share p b{color:#C00;}
.share p em{color:#fff}

/*index*/
.yongjin{width:90%; margin:1.6rem auto .8rem auto;}
.tabs {width:100%; position: relative; text-align:center;}
.tabs li{display:inline-block;}
.tabs input[type="radio"] {position:absolute; top:-9999px; left:-9999px;}
.tabs label {display:inline-block; padding: .1rem .3rem; font-size:.16rem;text-transform: uppercase; background:#d13024; color:#ffe8b0;border:#ffe8b0 1px solid;position: relative; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.tabs .tab-content{z-index:2; display:none; padding:.2rem 0; width:100%; position:absolute; top:.4rem; left:0;}
.tabs .tab-content p{line-height:1.8; font-size:.16rem;color:#fff;}
.tabs .tab-content p b{color:#ffd800; font-weight:800;}
.tabs .tab-content button{display:block; width:60%; margin:0 auto; margin-top:.2rem; height:.5rem; background:#ffdf91; border:0; outline:0; border-radius: .05rem; color:#930000; font-size:.2rem;}
.tabs .tab-content button.disable{background:#ccc; color:#888;}
.tabs [id^="tab"]:checked + label {top: 0; background:#ffe8b0; color:#d13024;}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {display: block;}

/*hongbao*/
.hongbao{width:90%; margin:1.5rem auto .2rem auto;}
.hongbao h1{width:100%; text-align:center; color:#fff; font-size:.23rem; margin-bottom:.16rem}
.hongbao ul{width:100%; padding-top:.1rem}
.hongbao ul li{line-height:2.3; background:#e1544a;color:#fff;padding-left:5px;padding-right:5px;margin-bottom:1px;}
.hongbao ul li a{color:#fff;}
.hongbao ul li span{float:right;}
.hongbao-more{width:100%; margin-top:.2rem; text-align:center;}
.hongbao-more a{display:inline-block; width:100%; height:.4rem; line-height:.4rem; background:#ffdf91; color:#930000; border-radius:.03rem;font-size:18px;font-weight:bold;}
.hongbao-more a.disable{background:#ccc; color:#888;}

/*kaijiang*/
.kaijiang{margin-top:1.8rem; margin-bottom:.8rem}
.kaijiang-title{text-align:center; font-size:.24rem; font-weight:800; color:#fff; padding-bottom:.2rem;}
.kaijiang-link{text-align:center; padding-top:.2rem; padding-bottom:.5rem;}
.kaijiang-link a{color:#fff;}
.kaijiang-list{text-align:center;}
.kaijiang-list ul, .kaijiang-list li{display:inline-block;}
.kaijiang-list ul{clear:both; width:100%;}
.kaijiang-list ul li{width:25%; float:left; font-size:.16rem; margin-bottom:.08rem; color:#fff}

.kaijiang-show{text-align:center; padding-top:.1rem; margin:0 auto; width:92%;background:#fff;}
.kaijiang-show ul, .kaijiang-show li{display:inline-block;}
.kaijiang-show ul{clear:both; width:100%;}
.kaijiang-show ul li{width:25%; float:left; color:#fff; font-size:.15rem; margin-bottom:.1rem}
.kaijiang-show ul li a{ display:inline-block; width:86%; height:.8rem; margin:0 auto; background:#F00; border-radius:.05rem; background:url('../img/TB2KKjNbX5N.eBjSZFKXXX_QVXa_!!2220771977.png') top no-repeat; background-size:cover; color:#fff;}
.kaijiang-show ul li a span{display:inline-block; margin-top:.54rem}

.kaijiang-show ul li a.rote{-webkit-transform-style: preserve-3d;-webkit-animation: anim 1s infinite alternate;-ms-animation: anim 1s infinite alternate;animation: anim 1s infinite alternate;}

.kaijiang-show ul li.current{font-weight:800;}
.kaijiang-show ul li.current a{color:#FF6; background-image:url('../img/TB2WPnfa31J.eBjy0FpXXaMoXXa_!!2220771977.png');}

.kaijiang-show ul li.other{font-weight:100;}
.kaijiang-show ul li.other a{background-image:url('../img/TB2U8W_a9iJ.eBjSszfXXa4bVXa_!!2220771977.png');}
@media screen and (max-width: 320px) {
	.index{margin-top:1.3rem}
	.hongbao{margin-top:1.3rem}
	.yongjin{margin-top:1.3rem}
	.kaijiang{margin-top:1.3rem}
}
@-webkit-keyframes thb{0%{-webkit-transform:scale(0,0);}50%{-webkit-transform:scale(1.1,1.1);}75%{-webkit-transform:scale(0.9,0.9);}100%{-webkit-transform:scale(1,1);}}
@-webkit-keyframes anim {from {-webkit-transform: rotateY(0);} to {-webkit-transform: rotateY(360deg);}}
@-ms-keyframes anim {from {-ms-transform: rotateY(0);} to {-ms-transform: rotateY(360deg);}}
@keyframes anim {from {transform: rotateY(0);} to {transform: rotateY(360deg);}}
@-webkit-keyframes lhb{0%{-webkit-transform:scale(1,1);}50%{-webkit-transform:scale(1.1,1.1);}100%{-webkit-transform:scale(1,1);}}

.pro-mask {
	position: fixed;
	z-index: 998;
	-position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	filter: alpha(opacity = 60);
}