body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,select,th,td
	{
	margin: 0;
	padding: 0
}

body {
	background: #fafafa;
	font: 14px/1.5 "Microsoft YaHei", Helvetica, sans-serif;
	color: gray;
	-webkit-text-size-adjust: 100% !important
}

button,input,textarea,select {
	font-size: 100%;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none
}

select::-ms-expand {
	display: none
}

select:focus,select:active {
	background-color: transparent
}

input[type=text]::-ms-clear,input[type=tel]::-ms-clear,input[type=number]::-ms-clear
	{
	display: none
}

body,a,img,label,button,input,textarea,select {
	outline: none;
	-webkit-tap-highlight-color: transparent
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none
}

input::-webkit-input-placeholder {
	color: #9a9a9a
}

h1,h2,h3,h4,h5,h6,strong,b {
	font-weight: 400
}

ul,ol {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

img {
	border: none
}

a {
	color: #1a76cc;
	text-decoration: none
}

a,img {
	-webkit-touch-callout: none;
	-webkit-user-select: none
}

html,body {
	min-height: 100%;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	overflow-scrolling: touch
}

header,nav,section,footer {
	display: block
}

.wrap {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 5.8rem;
	background: #ffbd49 url("../images/turnPlateBgc.png") no-repeat;
	background-size: 100% auto;
}

.turnPlateBgc {
	width: 3rem;
	height: 3rem;
}

.turnPlateBgc img {
	width: 100%;
	height: auto;
}

.wrap article {
	position: absolute;
	top: 1.1rem;
	left: 3%;
	width: 88%;
	height: 22.86rem;
	border-radius: 50%;
}

.wrap header .chance {
	position: absolute;
	top: .8rem;
	width: 100%;
	line-height: .2rem;
	text-align: center;
	color: #fff;
	font-size: .13rem;
}

.wrap article .go {
	position: absolute;
	top: .9rem;
	left: 39%;
	width: 28%;
	height: auto;
}

.wrap article .go img {
	width: 100%;
	height: auto;
}

.wrap header .chance #time {
	font-family: "Britannic";
	font-weight: Bold;
	color: #fd4948;
	font-size: .16rem;
}

.wrap .hide .winningRecord .winningRecordMsg {
	position: fixed;
	top: 6.52rem;
	left: 8.5%;
	width: 83%;
	min-height: 27.86rem;
	padding-bottom: 1rem;
	background-color: #fefbea;
	border-radius: 0.4rem;
	z-index: 10;
}

.wrap header .winning {
	color: #fd4948;
	position: absolute;
	top: 1rem;
	right: 4%;
	width: 18%;
	height: .7rem;
	background: url(../images/winning.png) 0 0 no-repeat;
	background-size: contain;
	z-index: 3;
}

.winning b {
	position: relative;
	top: .07rem;
	left: .04rem;
}

.shouye {
	color: #fd4948;
	position: absolute;
	top: 1rem;
	left: 4%;
	width: 18%;
	height: .7rem;
	background: url(../images/winning.png) 0 0 no-repeat;
	background-size: contain;
	z-index: 3;
}

.shouye b {
	position: relative;
	top: .07rem;
	right: -0.05rem;
}


.wrap .hide .toast {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.wrap .shade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
}

.wrap .receive {
	position: relative;
	top: .8rem;
	width: 93%;
	height: 28.48rem;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0) url(../images/successDraw.png) 0 0
		no-repeat;
	background-size: contain;
	z-index: 10;
}

.wrap .prizeName {
	line-height: .2rem;
	text-align: center;
	color: #f07d05;
	font-size: .14rem;
}

.wrap .unBind .goDraw {
	display: block;
	width: 71%;
	height: 2.43rem;
	margin: 0.5rem auto 0;
	color: #fff;
	font-size: 1.14rem;
	background-color: #f07d05;
	border: none;
	outline: none;
}

.wrap .prizeImg {
	height: 1rem;
	width: 1rem;
	padding-top: .7rem;
}

.wrap .prizeImg img {
	width: 100%;
	height: auto;
	margin: 0 100%;
}

.wrap .publicCloses {
	position: absolute;
	right: 3.5%;
	top: 0;
	width: .25rem;
	height: .25rem;
	line-height: .21rem;
	text-align: center;
	background-color: #ef3d42;
	border-radius: 50%;
	font-size: .2rem;
	color: #fff;
	z-index: 11;
}

.wrap .draw button {
	display: block;
	width: 71%;
	height: .4rem;
	margin: .3rem auto;
	color: #fff;
	background-color: #f07d05;
	border: none;
	border-radius: .05rem;
	outline: none;
}

.wrap .unBind input {
	outline: none;
	margin-top: 0.5rem;
	text-indent: 1em;
	border: 1px solid #ccc;
}

.wrap .unBind ::-webkit-input-placeholder {
	text-indent: 1em;
}

.wrap .unBind .phone {
	display: block;
	width: 71%;
	height: 2.43rem;
	margin: 0 auto;
	border: 1px solid #ccc;
	outline: none;
}

.wrap .unBind .authCode {
	display: inline-block;
	width: 44%;
	height: 2.43rem;
	margin-left: 14.4%;
	margin-right: 1%;
}

.wrap .unBind .sendVerification {
	display: inline-block;
	width: 24%;
	text-align: center;
	font-size: 0.86rem;
	line-height: 2.43rem;
	color: #fff;
	background-color: #f07d05;
}

.wrap .unBind .goDraw {
	display: block;
	width: 71%;
	height: 2.43rem;
	margin: 0.5rem auto 0;
	color: #fff;
	font-size: 1.14rem;
	background-color: #f07d05;
	border: none;
	outline: none;
}

.wrap .publicClose {
	position: absolute;
	right: 0;
	top: -.4rem;
	width: .25rem;
	height: .25rem;
	line-height: .21rem;
	text-align: center;
	background-color: #ef3d42;
	border-radius: 50%;
	font-size: .2rem;
	color: #fff;
	z-index: 11;
}

.wrap .noChance .naChanceMsg {
	position: absolute;
	top: 1.2rem;
	left: 8%;
	width: 83%;
	margin: 0 auto;
	height: 3rem;
	background-color: #fefbea;
	border-radius: 0.1rem;
	z-index: 10;
}

.wrap .noChance .naChanceMsg img {
	display: block;
	width: auto;
	margin: 0 auto;
}

.wrap .noChance .naChanceMsg p {
	line-height: .43rem;
	text-align: center;
	color: #f07d05;
	font-size: .16rem;
}

.wrap .noChance .naChanceMsg button {
	display: block;
	width: 60%;
	height: .35rem;
	border: none;
	outline: none;
	margin: 0 auto .15rem;
	line-height: .35rem;
	border-radius: 0.05rem;
	text-align: center;
}

.wrap .noChance .naChanceMsg .submitMessage {
	color: #fff;
	background-color: #f07d05;
}

.wrap .noChance .naChanceMsg .buyAgain {
	color: #9d4b26;
	background-color: #f7e9d5;
}

.wrap .noChance .naChanceMsg input {
	border: #f07d05 solid .01rem;
	display: block;
	width: 79%;
	height: .3rem;
	margin: 0 auto .15rem;
	line-height: .3rem;
	border-radius: 0.05rem;
}

.account {
	border: #f07d05 solid .01rem;
	display: block;
	width: 60%;
	height: .3rem;
	margin: 0 auto .15rem;
	line-height: .3rem;
	border-radius: 0.05rem;
}

.wrap .follow-us .naChanceMsg {
	position: fixed;
	top: 1.2rem;
	left: 8%;
	width: 83%;
	margin: 0 auto;
	height: 3rem;
	background-color: #fefbea;
	border-radius: 0.1rem;
	z-index: 10;
}

.wrap .follow-us .naChanceMsg .cry {
	display: block;
	padding: .4rem 0 .1rem;
	width: auto;
	height: .5rem;
	margin: 0 auto;
}

.wrap .follow-us .naChanceMsg p {
	line-height: .3rem;
	text-align: center;
	color: #f07d05;
	font-size: .13rem;
}

.wrap .follow-us .naChanceMsg button {
	display: block;
	width: 60%;
	height: .35rem;
	border: none;
	outline: none;
	margin: 0 auto .15rem;
	line-height: .35rem;
	border-radius: 0.05rem;
	text-align: center;
}

.wrap .follow-us .naChanceMsg .submitMessage {
	color: #fff;
	background-color: #f07d05;
}

.wrap .follow-us .naChanceMsg .buyAgain {
	color: #9d4b26;
	background-color: #f7e9d5;
}

.wrap .follow-us .naChanceMsg input {
	border: #f07d05 solid .01rem;
	display: block;
	width: 79%;
	height: .3rem;
	margin: 0 auto .15rem;
	line-height: .3rem;
	border-radius: 0.05rem;
}

.about-us {
	display: block;
	padding: 0rem 0 .1rem;
	width: auto;
	height: .9rem;
	margin: 0 auto;
}

.mask_blank {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

.cpm-hide {
	display: none !important;
}